# OS files
Thumbs.db
.DS_Store

# IDE files
.idea

# Logs
logs
log
*.log
npm-debug.log

# Dependencies
node_modules

# Build output
dist

# Test artifacts
test/*.zip
test/*.tgz
test/*.tar
test/largeFolder

# Coverage
coverage
