version: 2.1
orbs:
  node: circleci/node@4.2.1
  coveralls: coveralls/coveralls@1.0.6
jobs:
  buildAndTest:
    # Reuse Docker container specification given by the node Orb
    executor: node/default
    steps:
      - checkout
      - node/install-packages
      - run: npm run build
      - run: npm test
      - coveralls/upload:
          flag_name: Zip-A-Folder Testing Coverage
          verbose: true

workflows:
  version: 2
  build_and_test:
    jobs:
      - buildAndTest